body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
  padding-left: 48px;
}

.nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding-right: 48px;
}

.nav a {
  color: #f9faf8;
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  gap: 32px;
  overflow: hidden;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding-right: 48px;
  max-width: 600px;
}

.hero img {
  height: 500px;
  width: auto;
  margin-right: 48px;
  border-radius: 14px;
}

.hero button {
  display: inline-block;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  text-align: center;
  max-width: 200px;
  margin-top: 10px;
}

.hero h1,
.hero text {
  margin: 0;
}

.showcase-title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 48px;
  margin-top: 48px;
}

.showcase img {
  height: 200px;
  width: 200px;
  border-radius: 14px;
  border: #3882f6;
}

.showcase-container {
  display: flex;
  gap: 12px;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 48px;
  padding-left: 200px;
  padding-right: 200px;
}

.showcase-container-1,
.showcase-container-2,
.showcase-container-3,
.showcase-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  font-size: 14px;
  font-style: italic;
}
